#leftcol {background-color: #00CC99;
	width: 30%;
	overflow: auto;
	margin-left: 10px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	float: left;

}

#rightcol {background-color: #30ffff;
	width: 60%;
	overflow: auto;
	margin-right: 10px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	float: right;
}

